$primary-color: #4a90e2;
$primary-color-dark: #357ABD;
$primary-color-light: #72b0f4;
$bg-color: #f4f4f4;
$color-light-bg: #f9f9f9;
$text-color: #333;
$border-color: #ddd;
$color-muted-text: #777;
$color-accent: #007bff;
$white: #fff;
