@import './variables';
@import './mixins' ;
@import "../pages/auth/auth.scss";
@import '../components/admin/jobs.scss';
@import '../components/user-job/user-job.scss';
@import '../components/headers/header.module.scss';
@import '../components//grid/grid.scss';
@import '../components/admin/jobform-module.scss';
@import './theme.scss';
body { 
    font-family: Arial, sans-serif; 
    background-color: $bg-color; 
}


p {
  color:$text-color;
}

a {
    text-decoration: none;
}